.menu__link {
    color: #808080;/*cor do texto*/
    margin-right: 1.25rem;/*espaço da margem direita*/
    text-decoration: none;/*elimina formatação do texto*/
    text-transform: lowercase;/*transforma letras em minusculas*/
}
.menu__link.ativo {
    color: #333333;
    font-weight: bold;/*peso da fonte*/
}
.menu__link:hover {
    text-decoration: underline;/*traço embaixo do txt quando descansa mouse*/
}