.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 28px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: var(--green-color);
    max-width: 100%;
}

.logo__link{
    text-decoration: none;
    color: var(--white-color)
}

.logo__image {
    width: 42px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.menu__link {
    text-decoration: none;
    color: var(--white-color);
}

@media (min-width: 768px) {
    .header {
    justify-content: space-between;
}
    .logo__image {
        width: 72px;
}
}

@media (min-width: 1024px) {
  .menu__link {
    font-size: 1.2rem;
  }

  .menu__link:hover {
    text-decoration: underline;
  }
}