.banner {
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}

.banner__image {
    width: 100%;
    max-height: auto;
    filter: blur(1px);
    z-index: 100;
}

.banner__container {
    text-align: center;
    margin: 0 18px;
    padding: 5px 10px;
    position: absolute;
    top: 10%;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.banner__title {
    font-size: 1.2rem;
    font-weight: 700;
}

.banner__text {
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .banner__container {
        top: 25%;
        transform:translate(-50% -50%)
    }

    .banner__title {
        font-size: 2rem;
    }

    .banner__text {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .banner__container {
    top: 35%;
    left: 20%;
}

.banner__title {
    font-size: 4rem;
}

.banner__text {
    font-size: 2rem;
    padding: 5px 18px;
}
}