.receitas {
    margin: 10px 28px;
    text-align: center;

}

.receitas__container {
    margin-bottom: 18px;
}

.receitas__title {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--red-color);
    padding: 10px 0;
    font-family: var(--font-title);
}

.receitas__paragraph {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 10px 0;
}

.receitas__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card {
    padding: 18px;
    max-height: 32.592%;
}

.card__image {
    max-width: 48.88%;
    max-height: 32.58%;
    border-radius: 100%;
}

.card__content {
    margin: 10px 0;
    width: 200px;
}

.card__title {
    font-weight: 600;
}

.card__paragraph {
    font-size: 0.6rem;
    margin: 10px 0;
}

.card__btn {
    border: none;
    padding: 10px;
    background-color: var(--green-color);
    font-size: 0.6rem;
    color: var(--white-color);
    border-radius: 20px;
}

@media (min-width: 768px) {
    .receitas__title {
    font-size: 2rem;
}

.receitas__paragraph {
    font-size: 1rem;
}

.receitas__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__image {
    max-width: 100%;
    max-height: auto;
}
}

@media (min-width: 1024px) {
    .receitas__title {
    font-size: 6rem;
}
.receitas__paragraph {
    font-size: 2rem;
}

.card {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    border: 2px solid var(--card-color);
    transition: 0.8s step-start;
}


.card__image {
    width: 85%;
    height: auto;
}

.card__title {
    font-size: 1.5rem;
}

.card__paragraph {
    font-size: 1rem;
}

.card__btn {
    font-size: 1rem;
    padding: 16px;
}

.card__btn:hover{
    background-color: var(--red-color);
    transition: 0.3s linear;
}
}