@import url('./layout/01-header.css');
@import url('./layout/02-main.css');
@import url('/src/css/layout/03-footer.css');
@import url('./pages/01-banner.css');
@import url('./pages/02-receitas.css');
@import url('./pages/03-aboutUs.css');
@import url('./layout/03-footer.css');

:root {
    --font-title: "The Nautigal", cursive;;
    --font-content: "Quicksand", sans-serif;
    --white-color: #ffffff;
    --green-color: #142601;
    --red-color: #d90429;
    --card-color: #7FBF1F;
}

body {
    line-height: 1.5;
    font-family: var(--font-content);
    font-size: 0.8rem;
    font-weight: 400;
}